# ML Configuration
HUGGING_FACE_HUB_TOKEN
MODEL_ID=HuggingFaceTB/SmolLM2-1.7B-Instruct
QUANTIZATION_BITS=4

# DB configuration
DB_HOST=database
DB_PORT=5432
DB_NAME=app
DB_USER=postgres
DB_PASS=

# Postgres configuration
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# PGAdmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_NAME=
RABBITMQ_PASS=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Application auth settings
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Application configuration
APP_NAME=app
APP_DESCRIPTION=app
APP_VERSION=
API_VERSION=
API_URL=http://app:8080
DOCS_URL=/docs
REDOC_URL=/redoc

# Testing mode
# Debug mode (True / False)
DEBUG=False
# DB Force Recreate: if True - on app start will delete all data in DB
DB_FORCE_RECREATE=False
# DB Seed Test Data: if True - on app start DB will be filled with test data
DB_SEED_TEST_DATA=False


