# DB configuration
DB_HOST=database
DB_PORT=5432
DB_NAME=app
DB_USER=postgres
DB_PASS=

# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_NAME=
RABBITMQ_PASS=

# Application auth settings
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Application configuration
APP_NAME=app
APP_DESCRIPTION=app
APP_VERSION=
API_VERSION=
DOCS_URL=/docs
REDOC_URL=/redoc

# Testing mode
# Debug mode (True / False)
DEBUG=False
# DB Force Recreate: if True - on app start will delete all data in DB
DB_FORCE_RECREATE=False
# DB Seed Test Data: if True - on app start DB will be filled with test data
DB_SEED_TEST_DATA=False