# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_NAME=
RABBITMQ_PASS=

# Application configuration
APP_NAME=app
APP_DESCRIPTION=app
APP_VERSION=
API_VERSION=
DOCS_URL=/docs
REDOC_URL=/redoc

# Testing mode
# Debug mode (True / False)
DEBUG=False
